* {
  margin: 0;
  padding: 0;
}
html {
  position: relative;
}
/* element selectors*/
body {
  background-color: blanchedalmond;
}
header {
  display: block;
  padding: 30px;
  background-color: rgb(194, 126, 126);
}

section figure {
  align-self: center;
}
footer {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(234, 154, 49);
  margin-top: 50px;
}

section {
  display: flex;
  flex-direction: column;
  width: 700px;
}
/*class selectors*/
.image {
  width: 500px;
  height: 280px;
}

.mainsection {
  left: 20px;
  background-color: azure;
  padding: 40px;
  display: flex;
  border-radius: 15px;
  margin-bottom: 100px;
  margin-top: 50px;
}
